[user]
	name = Tadej Novak
	email = tadej@tano.si
	signingkey = 4CC60378
[github]
    user = ntadej
[color]
	ui = true
[pull]
	rebase = true
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore
