"*":
  "atom-beautify":
    c:
      default_beautifier: "clang-format"
    cpp:
      default_beautifier: "clang-format"
    general:
      _analyticsUserId: "c42e44a3-ffc0-49d8-9cc6-21041f0f5938"
    html:
      indent_size: 2
    js:
      indent_size: 2
    json:
      indent_size: 2
    sass:
      beautify_on_save: true
  core:
    telemetryConsent: "limited"
    themes: [
      "nucleus-dark-ui"
      "gruvbox"
    ]
  editor:
    fontFamily: "Fira Code"
    preferredLineLength: 100
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "961ace79-3f80-ecfb-f929-487f389ceb3e"
  latex:
    enableShellEscape: true
    engine: "lualatex"
    opener: "pdf-view"
    outputDirectory: "out"
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  welcome:
    showOnStartup: false
".c.cmake.source.template":
  editor:
    tabLength: 4
".c.source":
  editor:
    tabLength: 4
".cache.cmake.source":
  editor:
    tabLength: 4
".cmake.cpp.source.template":
  editor:
    tabLength: 4
".cmake.shell.source.template":
  editor:
    tabLength: 24
".cmake.source":
  editor:
    tabLength: 4
".cmake.source.template":
  editor:
    tabLength: 4
".cpp.source":
  editor:
    tabLength: 4
