[
  {
    title: "Dotfiles"
    group: "Personal"
    paths: [
      "/Users/tadej/Workspace/dotfiles"
    ]
  }
  {
    title: "ATLAS Simulation - Pileup"
    group: "CERN"
    paths: [
      "/afs/cern.ch/user/t/tadej/work/pileup"
      "/afs/cern.ch/work/t/tadej/athena"
      "/afs/cern.ch/work/t/tadej/simulation/pileup"
    ]
    settings:
      whitespace:
        removeTrailingWhitespace: false
  }
  {
    title: "CERN Scripts"
    group: "CERN"
    paths: [
      "/Users/tadej/Workspace/CERNscripts"
    ]
  }
  {
    title: "TNAnalysis"
    group: "CERN"
    paths: [
      "/afs/f9.ijs.si/home/tadej/analysis/TNAnalysis"
    ]
  }
  {
    title: "KDetSim"
    group: "IJS"
    paths: [
      "/Users/tadej/Workspace/ROOT/KDetSim"
    ]
  }
  {
    title: "SiliconAngleSim"
    group: "IJS"
    paths: [
      "/Users/tadej/Workspace/ROOT/SiliconAngleSim"
    ]
  }
  {
    title: "CERN Scripts AFS"
    group: "CERN"
    paths: [
      "/afs/f9.ijs.si/home/tadej/Workspace/CERNscripts"
    ]
  }
]
