[
  {
    title: "Dotfiles"
    group: "Personal"
    paths: [
      "/Users/tadej/Workspace/dotfiles"
    ]
  }
  {
    title: "ATLAS Athena 21.0"
    group: "CERN"
    paths: [
      "/afs/f9.ijs.si/home/tadej/simulation/pileup/athena"
      "/afs/f9.ijs.si/home/tadej/simulation/pileup/athena/PileupTools"
    ]
    settings:
      "*":
        core:
          disabledPackages: [
            "linter-pylint"
          ]
        whitespace:
          removeTrailingWhitespace: false
    template: "ATLAS"
  }
  {
    title: "ATLAS Athena Master"
    group: "CERN"
    paths: [
      "/afs/f9.ijs.si/home/tadej/simulation/pileup/athena-master"
      "/afs/f9.ijs.si/home/tadej/simulation/pileup/athena-master/PileupTools"
    ]
    settings:
      "*":
        core:
          disabledPackages: [
            "linter-pylint"
          ]
        whitespace:
          removeTrailingWhitespace: false
    template: "ATLAS"
  }
  {
    title: "ATLAS Athena MT"
    group: "CERN"
    paths: [
      "/afs/f9.ijs.si/home/tadej/simulation/pileup/athena-mt"
      "/afs/f9.ijs.si/home/tadej/simulation/pileup/athena-mt/PileupTools"
    ]
    settings:
      "*":
        core:
          disabledPackages: [
            "linter-pylint"
          ]
        whitespace:
          removeTrailingWhitespace: false
    template: "ATLAS"
  }
  {
    title: "ATLAS FastCaloSim"
    group: "CERN"
    paths: [
      "/afs/f9.ijs.si/home/tadej/simulation/fastcalosim/athena"
      "/afs/f9.ijs.si/home/tadej/simulation/fastcalosim/FastCaloSimCommon"
      "/afs/f9.ijs.si/home/tadej/simulation/fastcalosim/FastCaloSimAnalyzer"
      "/afs/f9.ijs.si/home/tadej/simulation/fastcalosim/EnergyParametrization"
    ]
    settings:
      "*":
        core:
          disabledPackages: [
            "linter-pylint"
          ]
        whitespace:
          removeTrailingWhitespace: false
    template: "ATLAS"
  }
  {
    title: "CERN Scripts"
    group: "CERN"
    paths: [
      "/afs/f9.ijs.si/home/tadej/Workspace/CERNscripts"
    ]
  }
  {
    title: "TNAnalysis"
    group: "CERN"
    paths: [
      "/afs/f9.ijs.si/home/tadej/analysis/TNAnalysis"
    ]
    settings:
      ".c.source":
        editor:
          tabLength: 4
      ".cpp.source":
        editor:
          tabLength: 4
  }
  {
    title: "MultiLeptonAnalysis"
    group: "CERN"
    paths: [
      "/afs/f9.ijs.si/home/tadej/analysis/ntuples/next/MultiLeptonAnalysis"
      "/afs/f9.ijs.si/home/tadej/analysis/ntuples/next/AnalysisCode"
    ]
  }
  {
    title: "Analysis Code"
    group: "CERN"
    paths: [
      "/afs/f9.ijs.si/home/tadej/analysis/ntuples/development/AnalysisCode"
      "/afs/f9.ijs.si/home/tadej/analysis/ntuples/development/AnalysisCode/xAODAnaHelpers"
    ]
    settings:
      ".c.source":
        editor:
          tabLength: 4
      ".cpp.source":
        editor:
          tabLength: 4
  }
  {
    title: "Tano.si"
    group: "Web"
    paths: [
      "/Users/tadej/Workspace/Web/personal/tano.si"
      "/Users/tadej/Workspace/Web/personal/tano-style"
    ]
  }
  {
    title: "ATLAS"
    group: "CERN"
    settings:
      "*":
        core:
          disabledPackages: [
            "linter-pylint"
          ]
        whitespace:
          removeTrailingWhitespace: false
  }
]
